name: Update
on:
  workflow_dispatch:
  schedule:
    #        m  h  d m w
    - cron: "0 */3 * * *"
    # -> run every 3 hours
permissions:
  contents: write
jobs:
  update:
    name: update
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: |
          echo -n "NEW_VERSION=" >> "$GITHUB_ENV"
          nix-shell -p alejandra bun --run 'bun cron' >> "$GITHUB_ENV"
      - name: Run tests
        if: env.NEW_VERSION != ''
        run: nix run .#latest test
      - name: Commit and push
        if: env.NEW_VERSION != ''
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add -A
          git commit -m "bump: bun to v${{ env.NEW_VERSION }}"
          git push
